/* Heart styles */
.heart {
  position: fixed;
  top: -50px;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  animation-name: fall;
  animation-timing-function: linear;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.heart::before {
  top: -50%;
  left: 0;
}

.heart::after {
  top: 0;
  left: -50%;
}

/* Falling animation */
@keyframes fall {
  0% {
    top: -50px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

